body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: antiquewhite;
}

#h_Tag{
  border: 7px solid;
  padding: 5px;
  border-radius: 5px;
}

#Syntax_tag{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: wheat;
  border: 5px solid rgb(73, 65, 65);
  background-color: rgb(0, 0, 0);
  border-radius: 7px;
  padding: 10px;
}
